body {
    margin: 0;
    background: #202020;
    text-align: center;
    font-family: Work Sans, sans-serif;
    color: #ffffff;
}

h1 {
    justify-self: left;
    font-size: 100px;
    line-height: 0.7;
}

p {
    font-size: 20px;
    line-height: 1.5;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.aboutme {
    margin-top: 100px;

}

.columnleft {
    float: left;
    width: 50%;
    justify-items: right;
}

.columnright {
    float: left;
    width: 50%;
    justify-items: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;


    display: flex;

}

.card {
    background: #202020;
    width: 100%;
    border:#202020;
    position: relative;
    height: 200px;
    display:block;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 150px;
}

.cardPortrait {

    justify-self: right;
    position: fixed;
    background: #ffffff;
    background-image: url(images/pattern.png);
    background-size: 250%;
    color:#202020;
    border-radius: 15px;
    width: 400px;
    height: 650px;
    display: flex;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;


}

.portrait-container {
    width: 300px;
    height: 50%; 
    background-image: url('./images/portrait.jpg');
    background-size: 175%; 
    background-position: 50% 20%; 
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-top: 0px;
}

.portraitContent {
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-family: Work Sans, sans-serif;
    color: #202020;


}

.icons {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 60px;
}



.cardcontent {
    
    text-align: left;
    font-family: Work Sans, sans-serif;
    color: #ffffff;
    margin-right: 30vmax;
    position: relative;
    margin-top: auto;
    align-self:baseline;
    height:350px;
}


.button1 {
    background-size: cover;
    height: 100px;
    width: 350px;
    align-items: center;
    background-color: #FFFFFF;
    border: 2px solid #8c52ff;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: Work Sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    position: relative;
    text-decoration: none;
    transition: all 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

.button1:hover,
.button1:focus {
    border: 1px solid #8c52ff;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(140, 82, 255, 0.65);

}

.button1:hover {
    transform: translateY(-1px);
}

.button1:active {
    background-color: #F0F0F1;
    border-color: #8c52ff;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

a.button {
    background-size: cover;
    height: 50px;
    width: 50px;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    font-family: Work Sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    position: relative;
    text-decoration: none;
    transition: all 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

a.button,
a.button:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;

}

a.button:hover {
    transform: translateY(-1px);
}

a.button:active {
    background-color: #F0F0F1;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

@media (max-width: 1920px) {
    .cardPortrait {
        width: 300px;
        height: 500px;
    }

    .portrait-container {
        margin-top: 20px;
        width: 200px;
        height: 50%; 
    }

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 14px;
    }

    .portraitContent {
        width: 28vh;
        margin-left: 70px;
        margin-right: 70px;
        margin-bottom:10px;
    }

    .icons {
        color: #8c52ff;
    }

    .cardcontent {
        height: 200px;
        
    }

    .button1 {
        background-size: cover;
        height: 100px;
        width: 200px;
    }
}